.navbar{
    justify-content: center;
    align-content: flex-start;
    color: white;
}


.nav-item {
    justify-content: center;
    align-content: flex-start;
    color: rgb(189, 74, 164);
    padding-left: 8px;
}