







* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: whitesmoke;
}


h1 {
  font-family: 'Permanent Marker', cursive;
}

.pagebody {
  background: url(../src/images/portfoliobackground.png);
  background-size:cover;
  background-repeat: no-repeat;
  height: 975px;
  
  
}
.profilepic {
  border-radius: 8px;
  box-shadow: 0 5px 10px #999, 0 5px 10px #999;
  height: 350px;
  padding-left: 15px; 
  max-width: 100%;
}

.card-img-top{
  margin-top: 10px;
  height: 260px;
  width: 245px;
}

.card-body {
border-image: linear-gradient(rgb(191, 61, 83), purple) 30;
border-width: 4px;
border-style: solid;
border-radius: 15px;
text-align: center;
}
 
  

.card-title{
  font-weight: bold;
}






.navbar{
  justify-content: center;
  align-content: flex-start;
  color: white;
}
.nav-item {
  justify-content: center;
  align-content: flex-start;
  color: white;
}
section {
  background-image: url(../src/images/sectionbackgroundme.png);
  background-size: cover;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 5px 10px rgb(87, 84, 84), 0 5px 10px rgb(173, 60, 79);
  width: auto
     
}
for mobile phones
@media screen and (max-width: 400px) {
  .App {
      width: 100px;
  }
 
}

for tablet
@media screen and (max-width: 768px) {
  .App {
      width: 400px;
      .col-s-8 {width:33.33%;}
      .col-s-2 {width:25%;}
      .col-md-5 {width:84%;}
  }
}
 
for desktop
@media screen and (max-width: 992px) {
      .App {
          width: 992px;
          .col-s-8 {width:33.33%;}
          .col-s-2 {width:40%;}
          .col-md-5 {width:84%;}
      }
} 

